# Inspired by http://www.gitignore.io

### Linux ###
*~
.directory

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

### Terraform ###
.terraform/
credentials.tf
_credentials.tf
